<div id="<%= dom_id cart %>">
  <p>
    <strong>User:</strong>
    <%= cart.user.name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= cart.product.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cart.quantity %>
  </p>

</div>
